*{box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
}

.column{
 flex:25%;
    padding: 50px;
}
.colum img{
    margin-top: 50px;
}
@media (max-whidth:800px){
    .colum{
        flex: 50%;}}

@media (max-whidth:600px){
    .colum{
        flex: 50%;}}

.card_mb-3 img{
    width: 300px;

}