//variables
$coloruno:#3339FF;
$colordos:#FF3933;
$colortres:#4CFF33;
$colorcuatro:#D433FF;
$colorcinco:#000000;
$colorseis:#FFFFFF;
$colorsiete:#FFE803;
$colorocho:#07ECDA;


//index.html
body{background-color:$colorcinco}

*{padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 transition: 0,5s;}

p{color:$colorseis;
width:70%;}

img{
    width: 400px;}

nav img{
    width: 50px;}

nav{display: grid;
    grid-template-columns: repeat(auto-fit,minmax)(150px,1fr);}

.span_logo img{
    width: 70px;}

.calesita h5{
    color:$colorcinco;}
    
h1{
    color:$coloruno;}
h2{
    color:$colordos}
h3{
    color:$colortres}
h4{
    color:$colorcuatro}

h5{color:$colorsiete;
    }

h6{color:$coloruno}
    
h7{color: #D433FF;}

.primera_imagen img{
    width: 400px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.imagenes_final{
    width: 75vw;
    max-width: 1000px;
    min-width: 100px;
    margin: auto;
}
.imagenes_final img{
    border-radius: 15px;
    box-shadow: opx 3px 5px rgb(15, 15, 15)}  
   
footer{
    width:97%;}

    //paginas-responsive!!
     @media (max-width:800px){
        footer{
            width:95%;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 50px;
           padding: auto;}}

     @media (max-width:500px){
            footer{
                width:95%;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 50px;
               padding: auto;}}

    @media (max-width:360px){
                footer{
                    width:95%;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 50px;
                   padding: auto;}}

//contacto.html
video{
    width: 45%;}

.formulario_contacto{
    width: 50%;
    margin: 0 auto;
    display: grid;
    margin-top: 20;
    background-color:$colorcuatro;}

.numero_color{color:$colordos}
    
.correo{color:$coloruno;}

.integram_face{color:$colorcuatro}

.twitter{color:$colorocho;}

.gracias_portodo img{
    width: 400px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));}

//establecimiento
.colum{width: 75vw;
        max-width: 1000px;
        min-width: 100px;
        }

.colum img{
        border-radius: 15px;
        box-shadow: opx 3px 5px rgb(15, 15, 15)}  

        //paginas-responsive!!

        @media (max-width:800px){
            .colum img{
                width:90%;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 50px;
               padding:auto;}}
       
        @media (max-width:500px){
            .colum img{
                width:60%;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 50px;
                padding: auto;}}

            @media (max-width:360px){
                .colum img{
                    width: 150px;
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 50px;
                    padding: auto;}}

 .bienvenido_gracias p{
    width: 80%;}

//razas.html 
.perritos_muchos img{  width: 280px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.imagen_seis img{ width: 280px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.imagen_siete img{width: 280px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.pastor_cachorro{width: 280px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.golden_cachorro{width: 280px;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 0px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

//alimentos

.card{ background-color: rgb(189, 31, 31);
    border-color: black;
    border-radius: 10px;}

.conteiner{
    width: 95%;}

    .card h5 {color: white; }
 
.card img{
    width: 400px;
     margin: 0;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(150px,1fr));} 
     
 
.card p{
    width: 60%;}
   
.card h5{width: 60%;}

//paginas-responsive!!

@media (max-width:800px){
    .conteiner{
        width:95%;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
       padding: 0;}}

@media (max-width:500px){
    .conteiner{
        width:90%;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
       padding: 0;}}

    @media (max-width:360px){
        .conteiner{
            width: 85%;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 50px;
           padding: 0;}}

 
 


