* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0, 5s;
}

body {
  background-color: #000000;
}

p {
  color: #FFFFFF;
}

nav img {
  width: 70px;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax) 150px, 1fr;
}

.span_logo img {
  width: 70px;
}

h1 {
  color: #3339FF;
}

h2 {
  color: #FF3933;
}

h3 {
  color: #4CFF33;
}

h4 {
  color: #3339FF;
}

h5 {
  color: #FFE803;
}

h6 {
  color: #3339FF;
}

h7 {
  color: #D433FF;
}

footer {
  width: 98%;
  color: blue;
}

.card-title-1 {
  font-size: 1rem;
}

.card-title-2 {
  font-size: 2rem;
}

.card-title-3 {
  font-size: 3rem;
}

.card-title-4 {
  font-size: 4rem;
}

.card-title-5 {
  font-size: 5rem;
}

.card-title-6 {
  font-size: 6rem;
}

.color--black {
  color: black;
}

.color--green {
  color: green;
}

.color--blue {
  color: blue;
}

.color--red {
  color: red;
}

.btn.btn-naranja, .btn-naranja.btn--big {
  background-color: rgba(230, 108, 9, 0.5490196078);
}

.btn.btn-gris, .btn-gris.btn--big {
  background-color: #ccc;
}

.btn.btn-azul, .btn-azul.btn--big {
  background-color: #0861d4;
}

.btn.btn-negro, .btn-negro.btn--big {
  background-color: #000000;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1, 9rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

.calesita h5 {
  color: #000000;
}

.primera_imagen img {
  width: 500px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.prueba_dos img {
  width: 500px;
}

.imagenes_final {
  width: 75vw;
  max-width: 800px;
  min-width: 270px;
  margin: auto;
}

.imagenes_final img {
  border-radius: 15px;
  box-shadow: opx 3px 5px rgb(15, 15, 15);
}

.encabezado_video video {
  width: 49%;
}

.formulario_contacto {
  width: 50%;
  margin: 0 auto;
  display: grid;
  margin-top: 20;
  background-color: #D433FF;
}

.numero_color {
  color: #FF3933;
}

.correo {
  color: #3339FF;
}

.integram_face {
  color: #D433FF;
}

.twitter {
  color: #07ECDA;
}

.gracias_portodo img {
  width: 500px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.colum {
  width: 75vw;
  max-width: 800px;
  min-width: 270px;
}

.colum img {
  border-radius: 15px;
  box-shadow: opx 3px 5px rgb(15, 15, 15);
}

.perritos_muchos img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagen_seis img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagen_siete img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.pastor_cachorro {
  width: 270px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.golden_cachorro {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.muy_pronto video {
  width: 98%;
}

.card {
  background-color: #FF3933;
  border-color: #000000;
  border-radius: 10px;
  font-size: 1rem;
}

.conteiner {
  width: 98%;
  height: 98%;
}

.card h5 {
  color: #FFFFFF;
}

.card img {
  width: 500px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card p {
  width: 80%;
  font-size: 1rem;
}

.card h5 {
  width: 98%;
  font-size: 2rem;
}

.btn--big {
  width: 80%;
}

@media (max-width: 800px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 500px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 360px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 800px) {
  .colum img {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 500px) {
  .colum img {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 360px) {
  .colum img {
    width: 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 800px) {
  .conteiner {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .conteiner {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}
@media (max-width: 360px) {
  .conteiner {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */