body {
  background-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0, 5s;
}

p {
  color: #FFFFFF;
  width: 70%;
}

img {
  width: 400px;
}

nav img {
  width: 50px;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax) 150px, 1fr;
}

.span_logo img {
  width: 70px;
}

.calesita h5 {
  color: #000000;
}

h1 {
  color: #3339FF;
}

h2 {
  color: #FF3933;
}

h3 {
  color: #4CFF33;
}

h4 {
  color: #D433FF;
}

h5 {
  color: #FFE803;
}

h6 {
  color: #3339FF;
}

h7 {
  color: #D433FF;
}

.primera_imagen img {
  width: 400px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagenes_final {
  width: 75vw;
  max-width: 1000px;
  min-width: 100px;
  margin: auto;
}

.imagenes_final img {
  border-radius: 15px;
  box-shadow: opx 3px 5px rgb(15, 15, 15);
}

footer {
  width: 97%;
}

@media (max-width: 800px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 500px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 360px) {
  footer {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
video {
  width: 45%;
}

.formulario_contacto {
  width: 50%;
  margin: 0 auto;
  display: grid;
  margin-top: 20;
  background-color: #D433FF;
}

.numero_color {
  color: #FF3933;
}

.correo {
  color: #3339FF;
}

.integram_face {
  color: #D433FF;
}

.twitter {
  color: #07ECDA;
}

.gracias_portodo img {
  width: 400px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.colum {
  width: 75vw;
  max-width: 1000px;
  min-width: 100px;
}

.colum img {
  border-radius: 15px;
  box-shadow: opx 3px 5px rgb(15, 15, 15);
}

@media (max-width: 800px) {
  .colum img {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 500px) {
  .colum img {
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
@media (max-width: 360px) {
  .colum img {
    width: 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
  }
}
.bienvenido_gracias p {
  width: 80%;
}

.perritos_muchos img {
  width: 280px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagen_seis img {
  width: 280px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.imagen_siete img {
  width: 280px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.pastor_cachorro {
  width: 280px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.golden_cachorro {
  width: 280px;
  border-radius: 8px;
  height: auto;
  box-shadow: 0px 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  background-color: rgb(189, 31, 31);
  border-color: black;
  border-radius: 10px;
}

.conteiner {
  width: 95%;
}

.card h5 {
  color: white;
}

.card img {
  width: 400px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card p {
  width: 60%;
}

.card h5 {
  width: 60%;
}

@media (max-width: 800px) {
  .conteiner {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .conteiner {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}
@media (max-width: 360px) {
  .conteiner {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */