@import "./partials/variables";
@import "./partials/reset";
@import "./partials/bucles";
@import "./partials/mixin";

@include encabezados();


//index.html

.calesita h5{
    color:$colorcinco;}


.primera_imagen img{
    @include sizes(400px,500px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display:$display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));}

.prueba_dos img{
    width: $pixel2;
}

.imagenes_final{
    width:$vh;
    max-width:$max;
    min-width: $min;
    margin:auto;
}
.imagenes_final img{
    border-radius:$pixel0;
    box-shadow: opx 3px 5px rgb(15, 15, 15)}  

//contacto.html
.encabezado_video video{
    width:$ancho3;}

.formulario_contacto{
    width: 50%;
    margin: 0 auto;
    display:$display1;
    margin-top: 20;
    background-color:$colorcuatro;}

.numero_color{color:$colordos;}
    
.correo{color:$coloruno;}

.integram_face{color:$colorcuatro}

.twitter{color:$colorocho;}

.gracias_portodo img{
    @include sizes(200px,500px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display:$display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));}

//establecimiento
.colum{ width:$vh;
max-width: $max;
min-width: $min;}

.colum img{
        border-radius: 15px;
        box-shadow: opx 3px 5px rgb(15, 15, 15);}
        

//razas.html 
.perritos_muchos img{
    @include sizes(200px,250px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display: $display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.imagen_seis img{ 
    @include sizes(200px,250px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display: $display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.imagen_siete img{
    @include sizes(200px,250px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display: $display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.pastor_cachorro{
    width:$pixel4;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display:$display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.golden_cachorro{
    @include sizes(200px,250px);
    border-radius: 8px;
    box-shadow: 0px 0px 30px;
    display:$display1;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))}

.muy_pronto video{
    width: $ancho2;}

//alimentos

.card{ background-color:$colordos;
    border-color:$colorcinco;
    border-radius: 10px;
    font-size:$font;}

.conteiner{
    @include sizes(98%,98%)
    }

.card h5 {color:$colorseis; }
 
.card img{
    width:$pixel2;
     margin: 0;
     display:$display1;
     grid-template-columns: repeat(auto-fit,minmax(150px,1fr));} 
     
 
.card p{
    width:$ancho1;
font-size: $font;}
   
.card h5{width:$ancho2;
font-size:$font*2}

//*@extend*

.btn--big{
    @extend .btn;
    width: $ancho1;
}
 
 
@import "./partials/queries";

