//variables colores
$coloruno:#3339FF;
$colordos:#FF3933;
$colortres:#4CFF33;
$colorcuatro:#D433FF;
$colorcinco:#000000;
$colorseis:#FFFFFF;
$colorsiete:#FFE803;
$colorocho:#07ECDA;

//variables tamaños
$ancho1:80%;
$ancho2:98%;
$ancho3:49%;
$ancho4:100%;
$pixel0:15px;
$pixel1:70px;
$pixel2:500px;
$pixel3:400px;
$pixel4:270px;
$height:400px;
$vh:75vw;
$max:800px;
$min:270px;
$font:1rem;

//variables propiedad    
$display1:grid



